:root {
    --default: #c31432;
    --primary: rgb(238, 104, 87);
    --secondary: rgb(253, 128, 55);
    --success: rgb(83, 197, 83);
    --dark: #240b36;
    --bruise: #c31432;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: var(--default);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--dark), var(--bruise));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--dark), var(--bruise)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-size: 1rem;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
    height: 15vh;
}

.form {
    position: relative;
    width: 20%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input, .form .add-btn {
    border: none;
    outline: none;
    box-shadow: none;
    height: 100%;
    padding: 0rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input {
    flex-grow: 1;
    color: var(--bruise);
}

.form .add-btn {
    background-color: var(--bruise);
    color: white;
    font-weight: bolder;
    transition: all 1s ease;
}

.form .add-btn:hover {
    background-color: white;
    color: var(--secondary);
}

.list-container {
    margin: 1.5rem 0rem;
    width: 20%;
}

.todo-list {
    list-style: none;
}

.todo-item {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin: 0.2rem 0rem;
    transition: all 1s ease;
}

.todo-item li, .todo-item button {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.todo-item li {
    flex-grow: 1;
    color: var(--bruise);
}

.todo-item button {
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 1s ease;
}

.trash-btn {
    background-color: var(--bruise);
    color: white;
}

.trash-btn:hover {
    background-color: white;
    color: var(--bruise);
}

.check-btn {
    background-color: var(--success);
    color: white;
}

.check-btn:hover {
    background-color: white;
    color: var(--success);
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    opacity: 0.65;
}

.completed li {
    text-decoration: line-through;
    color: var(--success);
}

.filter-container {
    margin: 0rem 0.5rem;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.filter-select {
    top: 0;
    left: 0;
    width: 8rem;
}

select {
    color: var(--bruise);
    padding: 0.5rem;
    height: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-container::after {
    content: "\25BC";
    position: absolute;
    background-color: var(--bruise);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    height: 100%;
    pointer-events: none;
}